#play {
  width: 80%;
  padding: 200px;
  height : 100vh;
  margin: 0 auto;
  background-color: $light-gray;
  text-align: center;

  form {
    padding-top: 40px;
    margin: 0 auto;
    width: 300px;
    text-align: center;
  }

  .btn {
    margin-top: 20px;

  }
}
