<p>Your letters grid :</p>
<p><%= @grid.join(" - ") %></p>

<form action="/score">
  <label for="guess">Your guess</label>
  <input type="text" id="guess" name="attempt">
  <input type="hidden" name="grid" value="<%= @grid %>">
  <input type="hidden" name="start_time" value="<%= @start_time %>">
  <input type="submit" name="Play!">
</form>
